
@model List<Pizza>



<table class="table container">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count >0){
            
            int count = 0;
            
            @foreach (Pizza pizza in Model)
            {
                <tr>
                    <td>@(count)</td>
                    <td>@pizza.Nome</td>
                    <td>@pizza.Descrizione</td>
                    <td><img src="@pizza.Image" /></td>
                    <td>@pizza.Prezzo &euro;</td>
                    <td><a href="@Url.Action("Details", "Pizza", new {Id= count++})">Dettagli</a></td>
                </tr> 
            }
        }else{
            <tr>
                <td><h2>Non ci sono pizze.</h2></td>
            </tr>
        }

        
    </tbody>
</table>

